/* HomeCss.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align items horizontally */
  justify-content: center; /* Center-align items vertically */
  min-height: 100vh; /* Make sure the body takes at least the full height of the viewport */
}
  
  header {
    text-align: center;
  }
  
  .home-logo {
    margin: 20px;
  }
  
  .logo-button {
    cursor: pointer;
    max-width: 100%;
    height: auto;
  }
  
  button {
    display: flex;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 15px 30px;
    margin: 10px auto;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Center-align the card horizontally */
    border-radius: 8px;
    width: 500px; /* Set a fixed width */
    height: 250px; /* Set a fixed height equal to the width */
  }