/* WelcomeScreen.css */

.welcome-screen {
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    animation: logoFade 3s ease forwards;
    position: absolute;
    top: 0%;
    left: 0%;
    border: solid;
  }

.welcome-screen img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden  ;
  }

  @keyframes logoFade {
    0%{
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

  @keyframes fadein {
    0%{
      opacity: 0;
    }
  100% {
      opacity: 1;
    }
  }

  .main-header{
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
  }
  
  .fade-in {
    animation: fadein 1s ease forwards;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
  }

  .signs {
    background-color: #e2e8f0;
    border-radius: 3rem;
    padding: 1em;
  }

  .welcome-user {
    align-self: center;
  }




/* Responsive Styles */
@media (max-width: 768px) {
  .welcome-screen img {
    max-width: 60%;
    max-height: 60%;
  }
}