@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* Apply the font-family globally */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Your custom styles go here */
.inbox-container {
  @apply w-1/2 border-r border-blue-300;
}

.email-item {
  @apply cursor-pointer p-2 my-1 border-b border-gray-200;
}

.email-item:hover {
  @apply bg-gray-100;
}

/* Inbox.css */

.category-tabs {
    display: flex;
    flex-direction: column;
  }
  
  .category-tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-bottom: 1rem;
    background-color: #e2e8f0; /* Default background color */
    border-radius: 1rem;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    
  }

  .hidden {
    display: none;
  }
  
  .category-tab.selected {
    display: flex;
  }

  .category-tab:hover {
    background-color: #cbd5e0; /* Background color on hover */
  }
  
  .selected {
    background-color: #4a5568; /* Background color for selected tab */
    color: #ffffff; /* Text color for selected tab */
  }

  /* Make the Inbox take up the whole screen on small screens */
    @media (max-width: 640px) {
    .inbox-container {
      width: 100%;
    }
  }

  /* email list when a category is clicked */
  .email-list {
    margin-top: 20px; /* Add spacing between category tabs and email list */
  }
  
  .email-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: .5rem;
    margin-left: .5rem;

  }
  